/* Nav Start */
body {
    padding: 20px;
}

.logo {
    display: block;
    max-width: 100%;
    margin-bottom: 10px;
}

.topnav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.topnav form {
    width: 35%;
}

.topnav form input {
    border: 1px solid #000;
    border-radius: 10px;
    width: 75%;
    margin-right: auto;
}

.icon-container {
    margin-left: auto;
}

.icons {
    width: 20px;
    height: 20px;
}

.kategorier ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    gap: 2px;
    margin-top: 10px;
}

.kategorier ul li a {
    color: #000;
    text-decoration: none;
    list-style-type: none;
}

.kategorier ul li {
    list-style-type: none;
}

.kategorier ul li a:hover {
    text-decoration: underline;
}

.liknade-produkter {
    display: none;
}

.liknade-title {
    display: none;
}



@media (max-width: 640px) {
    .topnav form {
        width: 75%;
    }

    .topnav form input {
        width: 100%;
    }

    .icon-container {
        display: flex;
        gap: 10px;
        margin-left: auto;
    }
}


@media (min-width: 640px) {

    .logo {
        width: 250px;
        height: 70px;
    }

    input {
        width: 30%;
    }

    .kategorier ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: 0;
        margin: 0;
        gap: 10px;
        margin-top: 10px;
    }

    .icon-container {
        display: flex;
        gap: 10px;
        margin-left: auto;
    }
}


/* Nav ends*/


/* Main */

.products-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    padding: 0 20px;
    box-sizing: border-box;
}

.product-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    margin-top: 15px;
    width: 100%;   /* Ensures the container takes full width */
}

.product-image img {
    width: 100%;
    height: auto;
    max-width: 600px; /* Limits width on larger screens */
}

/* Media query for small screens (375px to 639px) */
@media (max-width: 640px) {
    .product-container {
        align-items: center;
        padding: 0;            /* Removes padding to eliminate extra space */
    }

    .product-image img {
        max-width: 100%;      /* Ensures the image stretches to fill the container */
        min-width: 100%;      /* Makes the image take full width of the viewport */
        width: 100%;          /* Full width for smaller screens */
        margin: 0;            /* Removes any default margin that could add whitespace */
    }

    .detail-image {
        width: 100%;          /* Allows other content to also take full width */
    }
}

.products-container img {
    width: 100%;          /* Image fills the width of its container */
    height: 100%;         /* Maintains aspect ratio */
    transition: transform 0.3s ease;  /* Smooth scaling effect on hover */
}

.product-title,
.brand-name,
.pris-tag,
.product-details {
    margin-top: 10px;
}

.pris-tag {
    font-size: 1em
}

.brand-name {
    font-size: 0.8em;
}

.product-details {
    font-weight: bold;
    font-size: 0.7em;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    border: 2px solid #000;
    border-radius: 10px !important;
    background-color: #0000FF;
    color: white;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #2980b9;
    transform: scale(1.05);
}

.products-section {
    display: none;
}

figcaption {
    margin-top: 20px;
    color: #000;
}

.products-container figcaption {
    position: relative;
    padding-top: 10px;
  }

.price-tag {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 10px;
    size: 1em;
}



@media (min-width: 640px) {


    .kategorier ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: 0;
        margin: 0;
        gap: 10px;
        margin-top: 10px;
    }

    .icon-container {
        display: flex;
        gap: 10px;
        margin-left: auto;
    }


    .product-container {
        flex-direction: row;
        align-items: flex-start;
        width: 100%;
        max-height: 610px;
    }



    .detail-image {
        width: 40%;
        height: 600px;
    }

    .product-image img {
        width: 100%;
        max-width: 500px;
        max-height: 600px;
    }

    button {
        width: 160px;

    }



    .products-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 10px;
        padding: 0 20px;
        box-sizing: border-box;
    }

    /* Title styling */
    .products-title {
        text-align: center;
        margin-bottom: 20px;
        margin-top: 50px;
    }

    .products-title h2 {
        font-size: 1.7rem;
        margin: 0;
        flex: 1;
    }

    /* Flex container for the images */
    .products-container {
        display: flex;
        gap: 25px;
        width: 100%;
        justify-content: space-evenly;
        max-width: 100%;
        position: relative;
    }

    .products-section {
        padding-left: 0;
        padding-right: 0;
    }

    /* Links that contain the images */
    .products-container a {
        flex-grow: 1;
        text-decoration: none;
        max-width: 100%;
    }

    /* Image styling */
    .products-container img {
        width: 100%;
        height: auto;
        transition: transform 0.3s ease;
    }

    .products-container a:hover img {
        transform: scale(1.05);
    }

}

/* Features */

.feature {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    margin-top: 20px;
}

.feature-item {
    display: flex;
    justify-content: flex-start;

    align-items: center;
    width: 100%;
    gap: 20px;
}

.feature-icon {
    width: 40px;
    height: 40px;
    margin-top: 20px;
}

.feature p {
    margin: 0;
    margin-top: 16px;
    font-size: 1.2rem;
    font-style: bold;
    color: #000;
}

@media (min-width: 640px) {
    .feature {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, 1fr);
        width: 100%;
        margin-bottom: 15px;
        margin-top: 0;

    }

    .feature-item {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
        margin-top: 20px;
        width: 100%;

    }

    .feature p {
        min-width: 195px;
        font-size: 1em;
    }
}

@media (min-width: 1024px) {
    .feature {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
    }

    .feature-item {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 15px;
        margin: 0;
    }

    .feature p {
        min-width: 125px;

    }


}

.copyright {
    margin-top: 15px;
    margin-bottom: 25px;
    padding: 0;
    text-align: center;
}

/* Accordion */

.accordion {
    margin-top: 50px;
    padding-left: 0;
}

.accordion ul {
    padding-left: 0;
}


.accordion a,
ul {
    color: #000;
    text-decoration: none;
    list-style-type: none;
}

.accordion a:hover {
    color: #ff0000;
    text-decoration: underline;
}

@media (min-width: 640px) {
    .accordion {
        display: none;
    }
}

@media (min-width: 1024px) {
    .accordion {
        display: none;
    }
}



.copyright {
    margin-top: 35px;
    margin-bottom: 25px;
    padding: 0;
    text-align: center;
}

@media (max-width: 640px) {
    .footer {
        display: none;
    }
}

@media (min-width: 640px) {




    .footer {
        background-color: rgb(197, 191, 191);
        margin-top: 25px;
        position: absolute;
        left: 0;
        width: 100%;
    }

    .footer-content {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 30px;
        width: 100%;
        margin-top: 20px;
        padding-left: 30px;
        flex-grow: 1;
    }

    .footer-col {
        max-width: 150px;
        flex-grow: 1;
    }

    .footer-col h4 {
        font-size: 1.2em;
    }

    .footer-col ul {
        list-style-type: none;
        padding: 0;
    }

    .footer-col ul li {
        margin-bottom: 15px;
    }

    .footer-col ul li a {
        color: #000;
        text-decoration: none;
    }

    .footer-col ul li a:hover {
        text-decoration: underline;
    }

    .copyright {
        margin-top: 20px;
        text-align: center;
        width: 100%;
        font-size: 0.9em;
    }

}


/* Accordion */

.accordion {
    margin-top: 50px;
    padding-left: 0;
}

.accordion ul {
    padding-left: 0;
}


.accordion a,
ul {
    color: #000;
    text-decoration: none;
    list-style-type: none;
}

.accordion a:hover {
    color: #ff0000;
    text-decoration: underline;
}

@media (min-width: 640px) {
    .accordion {
        display: none;
    }
}

@media (min-width: 1024px) {
    .accordion {
        display: none;
    }
}


/* Footer */

@media (min-width: 640px) {


    .footer {
        background-color: rgb(197, 191, 191);
        margin-top: 15px;
        position: absolute;
        left: 0;
        width: 100%;
    }

    .footer-content {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 10px;
        width: 100%;
        margin-top: 20px;
        padding-left: 30px;
        flex-grow: 1;
    }


    .footer-col {
        max-width: 250px;
        flex-grow: 1;
    }

    .footer-col h4 {
        font-size: 1.2em;
    }

    .footer-col ul {
        list-style-type: none;
        padding: 0;
        width: 200px;

    }

    .footer-col ul li {
        margin-bottom: 15px;
    }

    .footer-col ul li a {
        color: #000;
        text-decoration: none;

    }

    .footer-col ul li a:hover {
        text-decoration: underline;
    }

    .copyright {
        margin-top: 20px;
        text-align: center;
        width: 100%;
        font-size: 0.9em;
    }
}