<!DOCTYPE html>
<html lang="sv">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Page</title>
  <link rel="stylesheet" href="/stylesheets/admin.css">
  <script src="/javascript/admin-script.js" defer></script>
</head>
<body>

  <header>
    <h1>Administration</h1>
  </header>

  <main class="container">
    <aside class="sidebar">
      <h2>Produkter</h2>
    </aside>

    <section class="product-section">
      <div class="header">
        <h2>Products</h2>
        <div>
          <button id="load-products-btn" class="new-product-btn" aria-label="Load products">Ladda produkter</button>
          <a href="/admin/products/new">
            <button class="new-product-btn" aria-label="Add a new product">Ny produkt</button>
          </a>
        </div>
      </div>

      <table id="product-table">
        <thead>
          <tr>
            <th>Brand</th>
            <th>Namn</th>
            <th>SKU</th>
            <th>Pris</th>
          </tr>
        </thead>
        <tbody>
          
        </tbody>
      </table>
    </section>
  </main>
</body>
</html>
 