<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ny produkt</title>
    <link rel="stylesheet" href="/stylesheets/newhtml.css">
    <script src="/javascript/new-submit.js" defer></script>
</head>
<body>
    <header>
        <h1>Administration</h1>
    </header>

    <main class="container">
        <aside class="sidebar">
            <h2>Produkter</h2>
        </aside>

        <section>
            <article>
                <h2>Ny produkt</h2>
            </article>

            <form id="product-form" method="post">
                <label for="name">Namn</label>
                <input type="text" id="name" name="name" >

                <label for="Beskrivning">Beskrivning</label>
                <textarea id="Beskrivning" name="Beskrivning" rows="12" cols="50" placeholder=""></textarea>

                <label for="imageUrl">Bild URL</label>
                <input type="text" id="imageUrl" name="imageUrl" placeholder="Enter image URL" >

                <label for="brand">Märke</label>
                <input type="text" id="brand" name="brand">

                <label for="SKU">SKU</label>
                <input type="text" id="SKU" name="SKU">

                <label for="pris">Pris</label>
                <input type="number" id="pris" name="pris">

                <button type="submit">Skicka</button>
            </form>
        </section>
    </main>
</body>
</html>